asn1crypto==1.5.1
certifi==2024.2.2
cffi==1.12.2
cryptography==42.0.4
defusedxml==0.5.0
eight==1.0.1
future==1.0.0
lxml==4.9.1
pyasn1==0.5.1
pycparser==2.19
pyOpenSSL==18.0.0
signxml==3.2.2
six==1.16.0
